{% extends "base.html" %}
{% block content %}
<p><h2>Python Flask SQLAlchemy Pagination with Search LIKE, Equals, IN, AND and OR - Datatable</h2>  </p>
<div class="row">
 <div class="col-8">
 <strong>Search For : {{ tag }}</strong>
 </div>
 <div class="col-4">
  <form action="" method="post" autocomplete="off"> 
  <div class="row">
   <div class="col-6">
   <input type="text" class="form-control" name="tag" id="tag"  placeholder="Enter keyword"/> 
   </div>
   <div class="col-6" align="left">
   <input type="submit" value="Search" class="form-control btn btn-primary " name=""> 
   </div>
  </form> 
  </div>
{% endblock %}
